:root {
  --background-color: #000;
  --main-font-color: #fff;
  --main-red-color: #cc0000;
  --horizontal-dividers-color: #aeaeae;
  --menu-font: "Oswald";
  --body-font: "Open Sans";
}

/* div {
  border: 1px solid yellow;
} */

@font-face {
  font-family: "Oswald";
  src: url("/templates/KDKS/fonts/Oswald-VariableFont_wght.ttf")
    format("truetype"); /* Safari, Android, iOS */
}
@font-face {
  font-family: "Open Sans";
  src: url("/templates/KDKS/fonts/OpenSans-Regular.ttf") format("truetype"); /* Safari, Android, iOS */
}

body {
  background-color: var(--background-color);
  color: var(--main-font-color);
  font-family: "Open Sans";
}

a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  opacity: 80%;
  cursor: pointer;
}

.languages ul li {
  list-style: none;
  display: inline;
  padding-right: 30px;
}

.top__menu {
  display: grid;
  grid-template-columns: minmax(43px, 0.2fr) 0.8fr 1fr 1fr;
  grid-template-areas:
    "burger space logo languages"
    "menu menu menu menu"
    "social social social social";
  justify-content: center;
  font-family: var(--menu-font);
  border-bottom: 1px solid var(--horizontal-dividers-color);
  width: 100%;
}

.desktop__content {
  display: none;
}

.desktop__content ul {
  list-style: none;
  padding-left: 0;
}

.desktop__content ul li {
  padding-left: 0;
  padding-bottom: 10%;
}

.main__menu {
  grid-area: menu;
  font-size: 1.2em;
  border-top: 1px solid var(--horizontal-dividers-color);
  border-bottom: 1px solid var(--horizontal-dividers-color);
  text-align: center;
  justify-content: center;
}

.social {
  grid-area: social;
  text-align: center;
  justify-content: center;
  color: var(--main-red-color);
}

.burger__menu {
  grid-area: burger;
}

/* Mobile Menu Trigger
/* ---------------------------------------------------------- */

.burger__menu {
  position: relative;
  cursor: pointer;
  margin-left: 10px;
}

.burger__menu__box {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 33px;
  min-height: 33px;
}

.burger__menu__inner,
.burger__menu__inner::before,
.burger__menu__inner::after {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  content: "";
  width: 100%;
  height: 1px;
  background: currentcolor;
  transition: transform 250ms cubic-bezier(0, 0, 0.58, 1);
  will-change: transform, width;
}

.burger__menu__inner::before {
  transform: translatey(-6px);
}

.burger__menu__inner::after {
  transform: translatey(6px);
}

.burger__menu__open .burger__menu__inner {
  width: 0;
}

.burger__menu__open .burger__menu__inner::before {
  width: 26px;
  transform: translatex(6px) rotate(135deg);
}

.burger__menu__open .burger__menu__inner::after {
  width: 26px;
  transform: translatex(6px) rotate(-135deg);
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------- */

.logo {
  grid-area: logo;
  display: block;
  width: 1fr;
}

.logo_photo {
  width: 100%;
}

.languages {
  grid-area: languages;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0px;
  margin-left: auto;
  font-size: 0.9em;
  color: var(--main-red-color);
}

#languages__list {
  padding-left: 0;
}

.languages ul li {
  padding: 0 10px;
}

#de__main {
  border-right: 1px solid var(--main-red-color);
  padding-right: 14px;
}

@media (min-width: 600px) {
  .desktop__content {
    display: block;
  }

  .mobile__content {
    display: none;
  }

  .top__menu ul li {
    list-style: none;
    display: inline;
    padding-right: 30px;
  }

  .top__menu {
    grid-template-columns: 80px 370px 150px;
    grid-template-rows: 55px 70px;
    grid-template-areas:
      "logo social languages"
      "menu menu menu";
    width: 600px;
    margin: auto;
  }

  .logo {
    margin: 3% 3%;
    width: 175px;
  }

  .logo_photo {
    width: 50%;
  }

  .social {
    padding-left: 35px;
    text-align: left;
  }

  .languages {
    margin-left: auto;
    padding-top: 5px;
    font-size: 0.9em;
  }

  .languages ul li {
    padding: 0 10px;
  }

  #de__main {
    border-right: 1px solid var(--main-red-color);
    padding-right: 14px;
  }

  .main__menu {
    grid-area: menu;
    border-top: 1px solid var(--horizontal-dividers-color);
    font-size: 1.3em;
    text-align: left;
    border-bottom: none;
  }

  .nav-pills.nav.menu.mod-list {
    padding-left: 20px;
  }
}

@media (min-width: 850px) {
  .top__menu {
    grid-template-columns: 220px 450px 180px;
    grid-template-areas:
      "logo social languages"
      "logo menu menu";
    width: 850px;
  }

  .logo {
    margin: auto 3%;
  }

  .logo_photo {
    width: 115%;
  }

  .nav-pills.nav.menu.mod-list {
    padding-left: 35px;
  }
}

@media (min-width: 1200px) {
  .top__menu {
    grid-template-columns: 350px 700px 150px;
    grid-template-rows: 70px 100px;
    width: 1200px;
  }

  .logo {
    margin: auto 5%;
    width: 250px;
  }

  .logo_photo {
    width: 130%;
  }

  .social {
    padding-bottom: 10px;
    font-size: 1.1em;
  }

  .languages {
    font-size: 1em;
  }

  .main__menu {
    grid-area: menu;
    border-top: 1px solid var(--horizontal-dividers-color);
    font-size: 1.8em;
    padding-right: 10px;
  }
}
