:root {
  --background-color: #000;
  --main-font-color: #fff;
  --main-red-color: #cc0000;
  --horizontal-dividers-color: #aeaeae;
  --table-rows-color: #3c3c3c;
  --nav-children-background-color: #1e1e1e;
  --menu-font: "Oswald";
  --body-font: "Open Sans";
  --form-font: "Quicksand-Light";
  --body-font-deafult-size-desktop: 20px;
  --body-font-deafult-size-tablet: 18px;
  --body-font-deafult-size-mobile: 16px;
  --desktop-width-large: 1200px;
  --desktop-width-small: 850px;
  --tablet-width: 600px;
}

#clubs__tooltip {
  background-color: #3c3c3c;
  padding: 5px 5px;
  font-size: 0.8em;
}

#clubs__chart__div {
  margin: 5% 0;
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%; /* aspect ratio */
  vertical-align: top;
  overflow: hidden;
}
.svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0;
}

@font-face {
  font-family: "Oswald";
  src: url("/templates/kdks/fonts/Oswald-VariableFont_wght.ttf")
    format("truetype");
  /* Safari, Android, iOS */
}

@font-face {
  font-family: "Open Sans";
  src: url("/templates/kdks/fonts/OpenSans-Regular.ttf") format("truetype");
  /* Safari, Android, iOS */
}

@font-face {
  font-family: "Quicksand-Light";
  src: url("/templates/kdks/fonts/Quicksand-Light.ttf") format("truetype");
  /* Safari, Android, iOS */
}

body {
  background-color: var(--background-color);
  color: var(--main-font-color);
  font-family: var(--body-font);
  font-size: var(--body-font-deafult-size-mobile);
}

h1 {
  color: var(--main-red-color);
  padding-bottom: 5%;
  border-bottom: 1px solid var(--horizontal-dividers-color);
  font-size: 1.4em;
}

div[itemprop="blogPost"] h2,
.page-header h2 {
  color: var(--main-red-color);
  font-size: 1.4em;
  margin: 3% 0 0;
}

div[itemprop="articleBody"] h2 {
  color: var(--main-red-color);
  font-size: 1.1em;
  margin: 3% 0 0;
}

div[itemprop="blogPost"] dd,
.article-info dd {
  font-size: 0.8em;
  margin-left: 0;
  color: var(--horizontal-dividers-color);
}

div[itemprop="blogPost"] dl,
.articles dl {
  font-size: 0.8em;
  margin: 0;
  padding: 0;
}

a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  opacity: 80%;
  cursor: pointer;
}

iframe {
  width: 100%;
  height: 30%;
}

.languages ul li {
  list-style: none;
  display: inline;
  padding-right: 30px;
}

.top__menu {
  display: grid;
  grid-template-columns: minmax(43px, 0.2fr) 0.8fr 1fr 1fr;
  grid-template-areas: "burger space logo languages" "menu menu menu menu" "social social social social";
  justify-content: center;
  font-family: var(--menu-font);
  border-bottom: 1px solid var(--horizontal-dividers-color);
  width: 100%;
}

.desktop__content {
  display: none;
}

.desktop__menu {
  display: none;
}

ul {
  list-style: none;
  padding-left: 0;
}

ul li {
  padding-left: 0;
  padding-bottom: 3%;
}

.main__menu {
  grid-area: menu;
  font-size: 1.5em;
  border-top: 1px solid var(--horizontal-dividers-color);
  border-bottom: 1px solid var(--horizontal-dividers-color);
  text-align: center;
  justify-content: center;
}

.main__menu a:hover {
  color: var(--main-red-color);
}

.main__menu .nav-child {
  font-size: 0.7em;
  padding-top: 3%;
}

.social {
  grid-area: social;
  text-align: center;
  justify-content: center;
  color: var(--main-red-color);
}

.burger__menu {
  grid-area: burger;
}

.burger__menu {
  position: relative;
  cursor: pointer;
  margin-left: 10px;
}

.burger__menu__box {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 33px;
  min-height: 33px;
}

.burger__menu__inner,
.burger__menu__inner::before,
.burger__menu__inner::after {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  content: "";
  width: 100%;
  height: 1px;
  background: currentcolor;
  transition: transform 250ms cubic-bezier(0, 0, 0.58, 1);
  will-change: transform, width;
}

.burger__menu__inner::before {
  transform: translatey(-6px);
}

.burger__menu__inner::after {
  transform: translatey(6px);
}

.burger__menu__open .burger__menu__inner {
  width: 0;
}

.burger__menu__open .burger__menu__inner::before {
  width: 26px;
  transform: translatex(6px) rotate(135deg);
}

.burger__menu__open .burger__menu__inner::after {
  width: 26px;
  transform: translatex(6px) rotate(-135deg);
}

.logo {
  grid-area: logo;
  display: block;
  width: 1fr;
}

.logo_photo {
  width: 100%;
}

.languages {
  grid-area: languages;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0px;
  margin-left: auto;
  font-size: 0.9em;
  color: var(--main-red-color);
}

#languages__list {
  padding-left: 0;
}

.languages ul li {
  padding: 0 10px;
}

#de__main {
  border-right: 1px solid var(--main-red-color);
  padding-right: 14px;
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------- */

/* main section */

/* --------------------------------------------------------------------------------------------------------------------------------------------------- */

.articles {
  overflow-x: auto;
  width: 95%;
  margin: 0 auto;
}

.articles a:link,
.articles a:visited {
  color: var(--main-red-color);
  text-decoration: underline;
}

.articles .blog div[itemprop="blogPost"] {
  border-bottom: 1px solid var(--horizontal-dividers-color);
  padding: 0 0 3%;
}

.articles img {
  width: 100%;
  display: block;
  margin: 3% auto;
}

.articles table {
  text-align: left;
  width: 100%;
  border-collapse: collapse;
  font-size: calc(var(--body-font-deafult-size-mobile) - 3px);
}

.articles table tr:nth-child(even) td {
  background-color: var(--table-rows-color);
}

#onlinesubmission p {
  background-color: var(--table-rows-color);
  padding: 1% 1.5%;
}

#system-message {
  border: 1px solid var(--main-red-color);
  color: var(--main-red-color);
  padding: 1% 1.5%;
}

#system-message .close {
  float: right;
}

#system-message h4 {
  margin-top: 0;
}

.articles thead {
  color: var(--main-red-color);
  font-size: 1.3em;
  font-weight: bold;
}

.articles td {
  padding: 0.4em 2em 0.4em 1em;
}

.articles form .inputbox {
  width: 97%;
  height: 2em;
  margin: 1% 0 3%;
  font-size: var(--body-font-deafult-size-mobile);
  padding-left: 3px;
  font-family: var(--form-font);
}

.articles form select,
.js-stools select {
  font-size: var(--body-font-deafult-size-mobile);
  padding-left: 3px;
  font-family: var(--form-font);
  border: none;
  cursor: pointer;
}

.articles form .btn-primary {
  width: 100%;
  border: none;
  font-family: var(--body-font);
  font-size: calc(var(--body-font-deafult-size-mobile) + 4px);
  height: 2.2em;
  margin: 3% 0;
  color: var(--main-font-color);
  background-color: var(--table-rows-color);
}

.articles form .btn-primary:hover {
  opacity: 80%;
  cursor: pointer;
}

.articles form p {
  font-size: calc(var(--body-font-deafult-size-mobile) - 2px);
}

#jform_accept_rules-lbl,
#jform_accept_no_cheat-lbl {
  float: right;
  width: 87%;
  margin: 1% 1% 3%;
}

#jform_accept_rules,
#jform_accept_no_cheat {
  float: left;
  width: 10%;
}

.pagination {
  display: flex;
  flex-direction: column;
}

.pagination ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pagination p {
  text-align: center;
  font-size: 0.8em;
}

.pagination li {
  padding: 3px 4px;
}

.pagination li[class*="pagination"] {
  background-color: var(--table-rows-color);
  border: 1px solid var(--horizontal-dividers-color);
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------- */

/* footer */

/* --------------------------------------------------------------------------------------------------------------------------------------------------- */

.footer,
div.cookie-decline {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 1%;
  font-size: 0.7em;
}

div.cookie-decline {
  padding-bottom: 3%;
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------- */

/* bigger screen sizes */

/* --------------------------------------------------------------------------------------------------------------------------------------------------- */

@media (min-width: 850px) {
  #clubs__chart__div {
    margin: 3% 0;
  }
  body {
    font-size: var(--body-font-deafult-size-desktop);
  }
  h1 {
    margin-top: 0;
    font-size: 1.3em;
  }
  ul li {
    padding-bottom: 0;
  }
  iframe {
    height: 450px;
  }
  .blog .items-leading .leading-0 h2[itemprop="name"] {
    margin: 0;
  }
  .desktop__content {
    display: block;
  }
  .desktop__menu {
    display: block;
  }
  .mobile__content {
    display: none;
  }
  .mobile__menu {
    display: none;
  }
  .top__menu ul li {
    list-style: none;
    display: inline;
    padding-right: 20px;
  }
  .top__menu {
    grid-template-rows: 55px 70px;
    grid-template-columns: 220px 450px 180px;
    grid-template-areas: "logo social languages" "logo menu menu";
    width: var(--desktop-width-small);
    margin: auto;
  }
  .logo {
    width: 175px;
    margin: auto 3%;
  }
  .logo_photo {
    width: 115%;
  }
  .social {
    text-align: left;
  }
  .languages {
    margin-left: auto;
    padding-top: 5px;
    font-size: 0.9em;
  }
  .languages ul li {
    padding: 0 10px;
  }
  #de__main {
    border-right: 1px solid var(--main-red-color);
    padding-right: 14px;
  }
  .main__menu {
    grid-area: menu;
    border-top: 1px solid var(--horizontal-dividers-color);
    text-align: left;
    border-bottom: none;
    font-size: 1.2em;
  }
  .nav-pills.nav.menu.mod-list {
    padding-left: 35px;
  }
  .main__menu .nav-child.unstyled {
    display: none;
  }
  .main__menu .nav-child.styled {
    display: flex;
    float: left;
    position: absolute;
    flex-direction: column;
    background-color: var(--nav-children-background-color);
    z-index: 1;
    padding: 0;
  }
  .main__menu .nav-child.styled li {
    padding: 2% 3%;
  }
  .main__section {
    width: var(--desktop-width-small);
    margin: auto;
    padding-top: 2%;
    padding-bottom: 3%;
  }
  .articles {
    overflow-x: visible;
  }
  .articles img {
    width: 50%;
  }
  .articles table {
    font-size: calc(var(--body-font-deafult-size-desktop) - 5px);
    display: block;
    overflow-x: auto;
  }
  .articles td {
    padding: 1em 1.7em 1em 1em;
  }
  .slideshow {
    width: 50%;
    padding: 1% 5% 2%;
    float: left;
    background-color: var(--background-color);
  }
  .articles form .inputbox {
    font-size: calc(var(--body-font-deafult-size-desktop) + 1px);
  }
  .articles form select {
    font-size: calc(var(--body-font-deafult-size-desktop) + 1px);
  }
  .articles form .btn-primary {
    font-size: calc(var(--body-font-deafult-size-desktop) + 4px);
  }
  .articles form p {
    font-size: 14px;
  }
  .articles form p {
    font-size: calc(var(--body-font-deafult-size-desktop) - 2px);
  }
  .pagination ul {
    width: 50%;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  h1 {
    font-size: 2em;
  }
  iframe {
    height: 669px;
  }
  .top__menu {
    grid-template-columns: 350px 700px 150px;
    grid-template-rows: 70px 100px;
    width: var(--desktop-width-large);
  }
  .logo {
    margin: auto 5%;
    width: 250px;
  }
  .logo_photo {
    width: 130%;
  }
  .social {
    padding-bottom: 10px;
    font-size: 1.1em;
  }
  .languages {
    font-size: 1em;
  }
  .main__menu {
    grid-area: menu;
    border-top: 1px solid var(--horizontal-dividers-color);
    font-size: 1.6em;
    padding-right: 10px;
  }
  .main__section {
    width: var(--desktop-width-large);
  }
  .articles thead {
    font-size: 1.2em;
  }
  .articles td {
    padding: 1em 1.7em 1em 0.5em;
  }
}
